@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

.profil-page {
  margin: 50px auto;
}

.profil-page .log-container {
  text-align: center;
}

.profil-page .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profil-page .form-container ul {
  margin: 2%;
  width: 20%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profil-page .form-container ul li {
  margin: 20px auto;
  padding: 15px;
  width: 70%;
  height: 50px;
  background-color: #FFD7D7;
  cursor: pointer;
  border-radius: 20px;
}

.profil-page .form-container .active-btn {
  background-color: #FD2D01;
}

.profil-page .form-container #signup-form {
  width: 20%;
  margin: 2%;
  padding: 1%;
  border-radius: 20px;
  background-color: #FFD7D7;
}

.profil-page .form-container #signup-form #pseudo,
.profil-page .form-container #signup-form #email,
.profil-page .form-container #signup-form #password,
.profil-page .form-container #signup-form #confirm-password {
  border-radius: 20px;
  width: 50%;
  height: 30px;
  margin: 9px;
}

.profil-page .form-container #signup-form #submit {
  width: 60%;
  height: 30px;
  border-radius: 20px;
  font-size: 1.1em;
  cursor: pointer;
}

.profil-page .form-container #signup-form #submit:hover {
  background-color: #FD2D01;
  color: white;
}

.profil-page .form-container #signup-form .email-error,
.profil-page .form-container #signup-form .password-error,
.profil-page .form-container #signup-form .pseudoError,
.profil-page .form-container #signup-form .emailError,
.profil-page .form-container #signup-form .passwordError,
.profil-page .form-container #signup-form .confPasswordError,
.profil-page .form-container #signup-form .conditionError {
  color: #FD2D01;
  font-weight: bold;
}

nav {
  height: 150px;
  border-bottom: 2px solid #FD2D01;
  -webkit-box-shadow: 0 0 15px #4E5166;
          box-shadow: 0 0 15px #4E5166;
}

nav .nav-container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .logo img {
  margin: 50px;
  width: 400px;
}

nav .nav-container ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container ul h4 {
  font-size: 1.5em;
  color: #4E5166;
}

nav .nav-container .icon-connect {
  margin: 50px;
  width: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */