.profil-page {
  display: flex;
  background-color: $color-secondary;
  box-shadow: 0 0 15px $color-tertiary;

  .profil-container {
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;

    h1 {
      width: 20%;
      border-bottom: solid 2px $color-primary;
    }

    .update-container {
      margin: 50px;
      display: flex;

      .left-part {
        @include profil-card;
        text-align: center;
        margin-right: 50px;

        h3 {
          margin: 20px;
        }

        img {
          width: 70%;
          border: solid 2px $color-primary;
          border-radius: 50%;
        }

        .upload-pic {
          margin-top: 30px;

          #file {
            margin-top: 20px;
          }

          #submit-btn {
            @include btn;
            margin-top: 20px;
            padding: 8px 15px;
          }
        }
      }
      .right-part {
        @include profil-card;

        h3 {
          text-align: center;
          margin-top: 20px;
        }
        p {
          width: 80%;
          min-height: 100px;
          margin: 20px auto;
          border: solid 1px $color-primary;
          border-radius: 20px;
        }
        h4 {
          text-align: center;
          margin-top: 50px;
        }
      }
    }
  }
}
